.sheet {
  background: url(img/character-sheet-background.png);


    .window-content {
      background: url(img/character-sheet-background.png);

      input, select, textarea {
        border: none;
      }
      h1, h2 {
        border: none;
      }
    }


    .sheet-header {
      img {
        display: block;
        opacity: 90%;
      }
      .character-name {
        position: absolute;
        top: 180px;
        left: 30px;
          .actor-name {
            font-size: x-large;
            background-color: transparent;
            color: white;
          }
          .class {
            font-size: medium;
            color: white;
            font-style: oblique;
            margin-left: 10px;
          }
      }  
    }
      
      .flex-container {
        background: url(img/character-sheet-background.png);
        display: flex;
        flex-direction: row;
        justify-content: left;
      }

      .sidebar {
        margin-top: 7px;
        height: 400px;
        width: 300px;
        border: 3px solid rgb(157,145,121);
        background-color: rgb(87, 87, 86);
        
        .actor-img {
            margin-left: 7px;
            margin-top: 3px;
            width: 200px;
            border: 2px solid rgb(157,145,121);
            border-radius: 8px;
        }
        .sidebar-stats {
              ul {
                list-style-type: none;
            }
            font-style: italic;

            }
            .endurance-stat-value {
              margin-left: 135px;
              width: 50px;
              height: 50px;
              text-align: center;
              line-height: 50px;
              background: transparent url("img/cs-endurance-button.png") no-repeat center / contain;
              color: white;
              font-size: large;             
            }
            .ego-stat-value {
              margin-left: 10px;
              width: 60px;
              height: 60px;
              text-align: center;
              line-height: 50px;
              background: transparent url("img/cs-ego-button.png") no-repeat center / contain;
              color: white;
              font-size: large;             
            }
            .defense-stat-value {
             object-position: up 20px;
              width: 50px;
              height: 50px;
              text-align: center;
              line-height: 50px;
              background: transparent url("img/cs-defense-button.png") no-repeat center / contain;
              color: white;
              font-size: large;             
            }
            .stat {
              background-color: transparent;
              font-weight: bold;
            }
         

        }

    

    .sheet-body {
        width: 100%;
          }


        }

