.abilities {

   display: grid;
   position: relative;
//   grid-template-areas: "sheet-physics-list sheet-finesse-list"
//                       "sheet-intelect-list sheet-psyque-list";
    grid-template-columns: 240px 240px;
    grid-template-rows: 100px 100px;
    font-style: normal; 
    ul {
        list-style-type: none;
    }



    .sheet-physics-list {
        margin-left: 10px;
        border-image-slice: 27 27 27 27;
        border-image-width: 10px 10px 10px 10px;
        border-image-outset: 0px 0px 0px 0px;
        border-image-repeat: stretch stretch;
        border-image-source: url(img/character-sheet-border.png);  
        background-image: url(img/cs-characteristic-background.png);
        background-position: center;
        background-size: cover;
        height: 120px;
        width: 230px;
        .characteristic {
            margin-left: 60px;
            font-size: large;
            font-weight: bold;
            margin-bottom: 11px;
        }
        .stat {
            font-weight: bold;
            width: 25px;
            background-color: transparent;
            background-image: url(img/cs-endurance-button.png);
            background-position: center;
            background-repeat: no-repeat;
            background-size: contain;
            background-position: 1%;
            color: white;
            font-style: italic;
            margin-top: 5px;
        }
    }
    .sheet-finesse-list {
        margin-left: 10px;
        border-image-slice: 27 27 27 27;
        border-image-width: 10px 10px 10px 10px;
        border-image-outset: 0px 0px 0px 0px;
        border-image-repeat: stretch stretch;
        border-image-source: url(img/character-sheet-border.png);
        background-image: url(img/cs-characteristic-background.png);
        background-position: center;
        background-size: cover;
        height: 120px;
        width: 230px;
        .characteristic {
            margin-left: 60px;
            font-size: large;
            font-weight: bold;
        }
        .stat {
            font-weight: bold;
            width: 25px;
            background-color: transparent;
            background-image: url(img/cs-endurance-button.png);
            background-position: center;
            background-repeat: no-repeat;
            background-size: contain;
            background-position: 1%;
            color: white;
            font-style: italic;
            margin-top: 5px;
        }
    }
    .sheet-intelect-list {
        margin-top: 40px;
        margin-left: 10px;
        height: 185px;
        border-image-slice: 27 27 27 27;
        border-image-width: 10px 10px 10px 10px;
        border-image-outset: 0px 0px 0px 0px;
        border-image-repeat: stretch stretch;
        border-image-source: url(img/character-sheet-border.png);
        background-image: url(img/cs-characteristic-background.png);
        background-position: center;
        background-size: cover;
        width: 230px;
        .characteristic {
            margin-left: 55px;
            font-size: large;
            font-weight: bold;
        }
        .stat {
            font-weight: bold;
            width: 25px;
            background-color: transparent;
            background-image: url(img/cs-endurance-button.png);
            background-position: center;
            background-repeat: no-repeat;
            background-size: contain;
            background-position: 1%;
            color: white;
            font-style: italic;
            margin-top: 5px;
        }
    }
    .sheet-psyque-list {
        margin-top: 40px;
        margin-left: 10px;
        height: 185px;
        border-image-slice: 27 27 27 27;
        border-image-width: 10px 10px 10px 10px;
        border-image-outset: 0px 0px 0px 0px;
        border-image-repeat: stretch stretch;
        border-image-source: url(img/character-sheet-border.png);
        background-image: url(img/cs-characteristic-background.png);
        background-position: center;
        background-size: cover;
        width: 230px;
        .characteristic {
            margin-left: 60px;
            font-size: large;
            font-weight: bold;
        }
        .stat {
            font-weight: bold;
            width: 25px;
            background-color: transparent;
            background-image: url(img/cs-endurance-button.png);
            background-position: center;
            background-repeat: no-repeat;
            background-size: contain;
            background-position: 1%;
            color: white;
            font-style: italic;
            margin-top: 5px;
        }
    }

}