.sheet {
    form {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .sheet-physics-list {
        left: 18%;
        border: solid 3px;
        border-color: rgb(0, 0, 0);
        background-color: rgb(174, 83, 83);
    }
    .sheet-finesse-list {
        left: 29.5%;
        border: solid 3px;
        border-color: rgb(0, 0, 0);
        background-color: rgb(46, 124, 46);
    }
    .sheet-intelect-list {
        left: 41%;
        border: solid 3px;
        border-color: rgb(0, 0, 0);
        background-color: rgb(125, 66, 170);
    }
    .sheet-psyque-list {
        left: 52.5%;
        border: solid 3px;
        border-color: rgb(0, 0, 0);
        background-color: rgb(80, 77, 85);
    }
    .sheet-main-list {
        left: 63.75%;
        border: solid 3px;
        border-color: rgb(0, 0, 0);
        background-color: rgb(24, 153, 165);
    }


}