.sheet {
  background: url(img/character-sheet-background.png);


    .window-content {
      background: url(img/character-sheet-background.png);

      input, select, textarea {
        border: none;
      }
      h1, h2 {
        border: none;
      }
    }

    .sheet-header {
      background: url(img/character-sheet-background.png);

        width: 100%;
//        display: flex;
//        flex-direction: column;
      }
      

      .flex-container {
        background: url(img/character-sheet-background.png);
        display: flex;
        flex-direction: row;
        justify-content: left;
      }

      .sidebar {
//        border: solid 5px rgb(255, 255, 255);
        height: 400px;
        width: 300px;
//        background-color: rgb(146, 118, 118);
//        color: rgb(0, 0, 0);
        border-image-slice: 27 27 27 27;
        border-image-width: 10px 10px 10px 10px;
        border-image-outset: 0px 0px 0px 0px;
        border-image-repeat: stretch stretch;
        border-image-source: url(img/character-sheet-border.png);
        background-color: rgb(87, 87, 86);
        
        .actor-img {
            margin-left: 7px;
            width: 200px;
            border: none;
            border-radius: 8px;
        }
        .sidebar-stats {
              ul {
                list-style-type: none;
            }
//          display: column;
//          border: 3px solid 
            display: table;
            border-image-slice: 27 27 27 27;
            border-image-width: 10px 10px 10px 10px;
            border-image-outset: 0px 0px 0px 0px;
            border-image-repeat: stretch stretch;
            border-image-source: url(img/character-sheet-border.png);
            background-color: rgb(87, 87, 86);
            font-style: italic;
            
            .stat {
              background-color: transparent;
              font-weight: bold;
            }
          

        }

    }

    .sheet-body {
        width: 100%;
          }
       

}



/*    .sheet-header {
        width: 100%;
        display: flex;
        flex-direction: column;
        height: 200px;
      }
 
      .sidebar {
        border: solid 5px rgb(255, 255, 255);
        float:left;
        height: 100%;
        width: 210px;
        position: flex;
        background-color: rgb(146, 118, 118);
        color: rgb(0, 0, 0);


        .actor-img {
            width: 200px;
            border: none;
            border-radius: 8px;
        }
    }

    .sheet-body {
        display: grid;
        margin-left: 220px;
      }
*/