.chat-card-weapon {
    margin: 5px 0;
 //   background-color: rgb(39, 227, 212);
    text-align: center;

    .output {
        color: if(text="HIT", green, red);

    }
    
    span {
      display: block;
      line-height: 28px;
      text-align: center;
      border: 1px solid rgb(142, 7, 7);
    }

    button {
      font-size: large;
      height: 24px;
      line-height: 20px;
      margin: 2px 0;
    }
  }