.sheet form {
  display: flex;
  flex-direction: column;
}
.sheet .armor-sheet-content {
  height: 100%;
  display: flex;
  flex-direction: column;
}
.sheet .armor-sheet-content .editor {
  height: 100%;
}
.sheet form {
  display: flex;
  flex-direction: column;
}
.sheet .item-sheet-content {
  height: 100%;
  display: flex;
  flex-direction: column;
}
.sheet .item-sheet-content .editor {
  height: 100%;
}
.sheet form {
  display: flex;
  flex-direction: column;
}
.sheet .spell-sheet-content {
  height: 100%;
  display: flex;
  flex-direction: column;
}
.sheet .spell-sheet-content .editor {
  height: 100%;
}
.sheet form {
  display: flex;
  flex-direction: column;
}
.sheet .trait-sheet-content {
  height: 100%;
  display: flex;
  flex-direction: column;
}
.sheet .trait-sheet-content .editor {
  height: 100%;
}
.sheet form {
  display: flex;
  flex-direction: column;
}
.sheet .weapon-sheet-content {
  height: 100%;
  display: flex;
  flex-direction: column;
}
.sheet .weapon-sheet-content .editor {
  height: 100%;
}
.sheet .window-content input,
.sheet .window-content select,
.sheet .window-content textarea {
  background: none;
  border: none;
}
.sheet .window-content h1,
.sheet .window-content h2 {
  border: none;
}
.sheet .sheet-header {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.sheet .flex-container {
  display: flex;
  flex-direction: row;
  justify-content: left;
}
.sheet .sidebar {
  border: solid 5px #ffffff;
  height: 400px;
  width: 210px;
  background-color: #927676;
  color: #000000;
}
.sheet .sidebar .actor-img {
  width: 200px;
  border: none;
  border-radius: 8px;
}
.sheet .sidebar .sidebar-stats {
  border: 3px solid black;
}
.sheet .sheet-body {
  width: 100%;
}
/*    .sheet-header {
        width: 100%;
        display: flex;
        flex-direction: column;
        height: 200px;
      }
 
      .sidebar {
        border: solid 5px rgb(255, 255, 255);
        float:left;
        height: 100%;
        width: 210px;
        position: flex;
        background-color: rgb(146, 118, 118);
        color: rgb(0, 0, 0);


        .actor-img {
            width: 200px;
            border: none;
            border-radius: 8px;
        }
    }

    .sheet-body {
        display: grid;
        margin-left: 220px;
      }
*/
.abilities {
  display: grid;
  grid-template-areas: "sheet-physics-list sheet-finesse-list" "sheet-intelect-list sheet-psyque-list";
  grid-template-columns: 155px 155px;
  grid-template-rows: 90px 90px;
}
.abilities .sheet-physics-list {
  border: solid 3px;
  border-color: #000000;
  background-color: #ae5353;
  height: 95px;
  width: 160px;
}
.abilities .sheet-physics-list .stat {
  width: 25px;
}
.abilities .sheet-finesse-list {
  border: solid 3px;
  border-color: #000000;
  background-color: #2e7c2e;
  height: 95px;
  width: 160px;
}
.abilities .sheet-finesse-list .stat {
  width: 25px;
}
.abilities .sheet-intelect-list {
  border: solid 3px;
  border-color: #000000;
  background-color: #7d42aa;
  width: 160px;
}
.abilities .sheet-intelect-list .stat {
  width: 25px;
}
.abilities .sheet-psyque-list {
  border: solid 3px;
  border-color: #000000;
  background-color: #504d55;
  width: 160px;
}
.abilities .sheet-psyque-list .stat {
  width: 25px;
}
.dressena .weapon-card {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: strech;
  align-content: strech;
  border: 3px;
}
.dressena .weapon-card .weapon-info {
  display: flex;
  justify-content: center;
  align-items: center;
  border: solid 1px black;
}
.dressena .weapon-card .weapon-name {
  width: 70%;
}
.dressena .weapon-card .weapon-stats {
  width: 30%;
  flex-direction: column;
}
