.sheet form {
  display: flex;
  flex-direction: column;
}
.sheet .armor-sheet-content {
  height: 100%;
  display: flex;
  flex-direction: column;
}
.sheet .armor-sheet-content .editor {
  height: 100%;
}
.sheet form {
  display: flex;
  flex-direction: column;
}
.sheet .item-sheet-content {
  height: 100%;
  display: flex;
  flex-direction: column;
}
.sheet .item-sheet-content .editor {
  height: 100%;
}
.sheet form {
  display: flex;
  flex-direction: column;
}
.sheet .spell-sheet-content {
  height: 100%;
  display: flex;
  flex-direction: column;
}
.sheet .spell-sheet-content .editor {
  height: 100%;
}
.sheet form {
  display: flex;
  flex-direction: column;
}
.sheet .trait-sheet-content {
  height: 100%;
  display: flex;
  flex-direction: column;
}
.sheet .trait-sheet-content .editor {
  height: 100%;
}
.sheet form {
  display: flex;
  flex-direction: column;
}
.sheet .weapon-sheet-content {
  height: 100%;
  display: flex;
  flex-direction: column;
}
.sheet .weapon-sheet-content .editor {
  height: 100%;
}
.sheet {
  background: url(img/character-sheet-background.png);
}
.sheet .window-content {
  background: url(img/character-sheet-background.png);
}
.sheet .window-content input,
.sheet .window-content select,
.sheet .window-content textarea {
  border: none;
}
.sheet .window-content h1,
.sheet .window-content h2 {
  border: none;
}
.sheet .sheet-header {
  background: url(img/character-sheet-background.png);
  width: 100%;
}
.sheet .flex-container {
  background: url(img/character-sheet-background.png);
  display: flex;
  flex-direction: row;
  justify-content: left;
}
.sheet .sidebar {
  height: 400px;
  width: 300px;
  border-image-slice: 27 27 27 27;
  border-image-width: 10px 10px 10px 10px;
  border-image-outset: 0px 0px 0px 0px;
  border-image-repeat: stretch stretch;
  border-image-source: url(img/character-sheet-border.png);
  background-color: #575756;
}
.sheet .sidebar .actor-img {
  margin-left: 7px;
  width: 200px;
  border: none;
  border-radius: 8px;
}
.sheet .sidebar .sidebar-stats {
  display: table;
  border-image-slice: 27 27 27 27;
  border-image-width: 10px 10px 10px 10px;
  border-image-outset: 0px 0px 0px 0px;
  border-image-repeat: stretch stretch;
  border-image-source: url(img/character-sheet-border.png);
  background-color: #575756;
  font-style: italic;
}
.sheet .sidebar .sidebar-stats ul {
  list-style-type: none;
}
.sheet .sidebar .sidebar-stats .stat {
  background-color: transparent;
  font-weight: bold;
}
.sheet .sheet-body {
  width: 100%;
}
/*    .sheet-header {
        width: 100%;
        display: flex;
        flex-direction: column;
        height: 200px;
      }
 
      .sidebar {
        border: solid 5px rgb(255, 255, 255);
        float:left;
        height: 100%;
        width: 210px;
        position: flex;
        background-color: rgb(146, 118, 118);
        color: rgb(0, 0, 0);


        .actor-img {
            width: 200px;
            border: none;
            border-radius: 8px;
        }
    }

    .sheet-body {
        display: grid;
        margin-left: 220px;
      }
*/
.abilities {
  display: grid;
  grid-template-areas: "sheet-physics-list sheet-finesse-list" "sheet-intelect-list sheet-psyque-list";
  grid-template-columns: 240px 240px;
  grid-template-rows: 100px 100px;
}
.abilities ul {
  list-style-type: none;
}
.abilities .sheet-physics-list {
  font-style: italic;
  margin-left: 10px;
  border-image-slice: 27 27 27 27;
  border-image-width: 10px 10px 10px 10px;
  border-image-outset: 0px 0px 0px 0px;
  border-image-repeat: stretch stretch;
  border-image-source: url(img/character-sheet-border.png);
  height: 95px;
  width: 230px;
}
.abilities .sheet-physics-list .characteristic {
  margin-left: 60px;
  font-size: large;
  font-weight: bold;
  font-style: italic;
}
.abilities .sheet-physics-list .stat {
  font-weight: bold;
  width: 25px;
  background-color: transparent;
}
.abilities .sheet-finesse-list {
  font-style: italic;
  margin-left: 10px;
  border-image-slice: 27 27 27 27;
  border-image-width: 10px 10px 10px 10px;
  border-image-outset: 0px 0px 0px 0px;
  border-image-repeat: stretch stretch;
  border-image-source: url(img/character-sheet-border.png);
  height: 95px;
  width: 230px;
}
.abilities .sheet-finesse-list .characteristic {
  margin-left: 60px;
  font-size: large;
  font-weight: bold;
  font-style: italic;
}
.abilities .sheet-finesse-list .stat {
  font-weight: bold;
  width: 25px;
  background-color: transparent;
}
.abilities .sheet-intelect-list {
  font-style: italic;
  margin-left: 10px;
  border-image-slice: 27 27 27 27;
  border-image-width: 10px 10px 10px 10px;
  border-image-outset: 0px 0px 0px 0px;
  border-image-repeat: stretch stretch;
  border-image-source: url(img/character-sheet-border.png);
  width: 230px;
}
.abilities .sheet-intelect-list .characteristic {
  margin-left: 55px;
  font-size: large;
  font-weight: bold;
  font-style: italic;
}
.abilities .sheet-intelect-list .stat {
  font-weight: bold;
  width: 25px;
  background-color: transparent;
}
.abilities .sheet-psyque-list {
  font-style: italic;
  margin-left: 10px;
  border-image-slice: 27 27 27 27;
  border-image-width: 10px 10px 10px 10px;
  border-image-outset: 0px 0px 0px 0px;
  border-image-repeat: stretch stretch;
  border-image-source: url(img/character-sheet-border.png);
  width: 230px;
}
.abilities .sheet-psyque-list .characteristic {
  margin-left: 60px;
  font-size: large;
  font-weight: bold;
  font-style: italic;
}
.abilities .sheet-psyque-list .stat {
  font-weight: bold;
  width: 25px;
  background-color: transparent;
}
.dressena .weapon-card {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: strech;
  align-content: strech;
  border: 3px;
}
.dressena .weapon-card .weapon-info {
  display: flex;
  justify-content: center;
  align-items: center;
  border: solid 1px black;
}
.dressena .weapon-card .weapon-name {
  width: 70%;
}
.dressena .weapon-card .weapon-stats {
  width: 30%;
  flex-direction: column;
}
