<section class="ability-block">
  <label class="stat-name">
    {{localize "dressena.ability.meleeWeaponHandling"}}
  </label>
  <div class="stat-value reveal-rollable">
    <input name="system.meleeWeaponHandling" type="text" value="{{system.meleeWeaponHandling}}" data-dtype="Number" />
  </div>
</section>

