<div class="weapon-card">
    <div class="weapon-info weapon-name">
        <p>{{name}}</p>
    </div>
    <div class="weapon-info weapon-stats">
        <p>
            {{system.damage}}+{{system.experienceBonus}}
        </p>
    </div>
</div>