<div class="ability-chat">
  <div class="character"><img src="{{{charImg}}}" width="20" height="20"> {{{charName}}}: Ability Check </div>

  <div class="attribute">{{{attributeRealName}}}</div>
  <div class="roll">{{{roll}}}</div>
</div>
