<div class="chat-card-combat-action">
  {{#if flavor}}
    <div class="dice-flavor">{{flavor}}</div>
    {{/if}}
  <div class="output">  
  Endurance Cost is: {{{enduranceCost}}}
  </div>
  {{{roll}}}
  <div>
    {{{description}}}
  </div>
</div>
