<div class="chat-card-weapon">
  {{#if flavor}}
    <div class="dice-flavor">{{flavor}}</div>
    {{/if}}
            <button class="weapon-button-attack-chat" type="button" data-action="attack">ATTACK</button>
            <button class="weapon-button-damage-chat" type="button" data-action="damage">DAMAGE</button>
  {{{roll}}}
  <div>
    {{{description}}}
  </div>
</div>
